<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sass and Node</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <div id="banner-wrapper">
            <header>
                <div id="header-inner">
                    <a href="#" id="logo"></a>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html" class="current">Home</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                </div>
            </header>
            <section id="new-section">
                <div class="container">
                    <img class="main" src="img/Feature.png">
                    <img class="logo" src="img/LD.png">
                    <div class="content">
                        <header>
                            Lee's Personal Plumbin...
                        </header>
                        <div class="rating">
                            <span class="filled">☆</span class="filled"><span class="filled">☆</span><span class="filled">☆</span>
                            <span class="filled">☆</span><span>☆</span>
                            <span class="filled">4.0</span>
                        </div>
                        <div class="phone">
                            <span>0420 92 3923</span>
                        </div>
                        <div class="address-distance">
                            <div class="address">
                                <i class="fa fa-map-marker"></i><span>Servicing Robina, QLD</span>
                            </div>
                            <div class="distance">
                                <span>0.0km</span>
                            </div>
                        </div>

                        <div class="quick-info">
                           <a href="#">Quick info</a><i class="fa fa-exclamation-circle"></i>
                        </div>
                    </div>
                </div>
            </section>
            <!--end new test-->
            <footer class="second">
                <p>Test Project Mohammad Karimi</p>
            </footer>
</body>

</html>