/*colors*/

$background-color :#f1f6f8;
$main-color: #524c56;
$seconadry-color:#6991ac;
$blue-color :#2962ff;
$black-color : #000;
$white-color : #fff;
$red-color:#ff0000;
$yellow-color:#FFFF66;
$gray-color:#808080;

//line height
$line-height :155%;